
html{
    box-sizing:border-box;
    
    
}

body{
    background-color: #111010;
    margin:0;
    line-height: 1.3;
    padding: 0;
    font-weight: 600;
    color: #edf3ec;
    font-family: 'Raleway', sans-serif;
    
}

.wrapper{
    display: grid;
    grid-gap:20px;
}

.navbar{
    background-color: rgba(51, 48, 48, 0.555);
    opacity: 0.8;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
}



.navbar li a{
    color: white;
}
.navbar-brand{
    font-size: 20px;
    cursor: auto;
}

.navbar-brand span{
    font-size: 15px;
}
.navbar-right{
    font-weight: 700;
    font-size: 17px;
}

li.large-nav:hover{
    color: white;
    background-color: rgb(29, 31, 32);
    border-radius: 7px;
    box-shadow: 0 0 10px #25AFF7;
}

.nav .icon {
  display: none;
}

.nav #myLinks{
    display: none;
}

#myLinks a{
    display: block;
    text-align: left;
    list-style: none;
    color: white;
    padding: 15px;
    text-decoration: none;
}

#myLinks a:hover{
    color: #25AFF7;
}


.landing-page{
    background-image: url("666.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: openUp 2s forwards;
}

@keyframes openUp{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

 .jackie, .about{
    position: relative;
    padding: 30px;
    max-width: 50%;
    margin: auto;
    text-align: center;

}

.jackie{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:100%;
    animation: drop 3s linear 2s forwards;
    top: -200%;

}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slider 3s linear 2s  forwards;
    left:-300%

}

 @keyframes slider{
    0%{
        left:-100%;
    }
    50%{
        left: 0;
    }
    75%{
        left:2%;
    }
    100%{
        left:0;
    }
}


@keyframes drop{
    0%{
        top:-100%;
    }
    50%{
        top: 0;
    }
    75%{
        top:2%;
    }
    100%{
        top:0;
    }
}
.jackie{
    
}

.jackie img{
    border-radius: 50%;
    box-shadow: 0 0 20px #25AFF7;
    
}

.btn,button{
    min-width: 150px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    border: 1px solid #25AFF7;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
    box-shadow: 0 0 10px #25AFF7;
    

}

@keyframes flip1 {
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }100%{
        transform: rotateY(0deg)
    }
}

.btn1:hover{
    color:white;
    background-color: rgb(29, 31, 32);
    animation: effect 1s 2s ease-out;
    animation: flip1 2s ease-in-out forwards;
}

@keyframes effect {
    0%{
        background-color: transparent;
    }100%{
        background-color:#25AFF7;
    }
}

tr, td{
    padding: 10px;
}


.skills ul{
    list-style-type: none;
}
 .skills{
    width: 80%;
    margin:4rem auto;
}
.skills li{
    margin: 20px 0;
}
.bar{
    background-color: white;
    overflow: hidden;
    display: block;
    height: 2px;
    box-shadow: 0 0 15px #25AFF7;

}

.bar span{
 height: 2px;
 float: left;
 background-color: #020671;
}

.html{
    width:80%;
}

.css{
    width:75%;
}

.javascript{
    width:70%;
}

.jquery{
    width:82%
}

.python{
    width: 90%;
}
.sql{
    width: 80%;
}

.top-container{
    margin: 20px;
    display: grid;
    gap: 40px;
    grid-template-areas: 
    'description description personal profile';
}

.box-1{
    grid-area: description;
    line-height: 1.5;
}

.box-2{
    grid-area:personal;
}

.box-3{
    grid-area: profile;
}
.project{
    max-width: 250px;
    max-height: 400px;
    background-color: transparent;
    color: #fff;
    padding: 1.2rem 2rem;
    text-align: center;
    box-shadow: 0 0 15px teal;
    font-size: small;
    margin:auto;
    
}
.project p,h3{
    padding-top: 5px;
}
.project ul{
    list-style: none;
    text-align: left;
    overflow: hidden;
}

.project a{
    background-color: #fff;
    color:#333;
    text-decoration: none;
    padding:0.7rem 1.6rem;
    border-radius: 0.5rem;
}

.project a:hover{
    background-color: #000;
    color:#fff;
}

.my-work{
    width: 80%;
    
    display: flex;
    flex-wrap: wrap;
    /*display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));*/
    
}

.my-work img{
    width: 100%;
}


form{
    padding:20px;
    max-width: 50%;
    margin:auto;
    border:3px solid #222;
  }
  
  legend{
    padding:10px;
    font-size: 20px;
    letter-spacing: 0.2em;
  }  
  
  input[type='text'],
  button,textarea{
    display:block;
    margin-bottom: 20px;
    padding: 10px;
    border:0;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
  } 

  button:hover{
    background-color: black;
  }
  
footer{
    background-color: black;
    text-align: center;
    padding: 50px 70px;
}

/* media queries */
@media(max-width: 1200px) {
    .top-container{
        grid-template-areas: 
        'description personal personal'
        'description profile profile';
        gap:20px;
    }

}


@media(max-width: 1000px) {
    
    .top-container{
        grid-template-areas: 
        'description description description'
        'personal personal profile';
        gap:10px;
    }

}
@media(max-width:767px){
    .nav .large-nav{
        display: none;
    }

    .navbar {
        display: inline;
    }

    .navbar-header {
        display: none;
        
    }

    .nav .icon {
       display: block;
       text-align:left;
       font-size:35px;
       opacity: .5;

       
    }

    .navbar{
        background-color: rgba(51, 48, 48, 0.1);
    }

    .nav .icon:hover {
       background-color: transparent;
       border:none;
       box-shadow: none;
       list-style: none;
       
    }


    .my-work{
        display: grid;
        place-items:center;
    }


}

@media(max-width:700px) {

    .top-container{
        grid-template-areas: 
        'description description description'
        'personal personal personal'
        'profile profile profile';
    }

    
        form{
            padding:0.8rem;
            min-width: 50%;
            max-width: 80%;
            margin:auto;
            border:1px solid #222;
        }
        
        
        
        input[type='text'],
        button,textarea{
            display:block;
            margin-bottom:5px;
            padding: 5px;
           
        } 
  
}


@media(max-width:500px) {
    
    .about{
        display: block;
    }
}
